.cForm{
    height: 32vh;
    padding: 0px 300px;
    background-color:rgb(247, 243, 243)
}
.center{
    text-align: center;
}
.cLabel{
    font-weight: bold;
    display: block;
}

.cField{
    width: 96%;
    height: 3vh;
    margin-bottom: 10px;
}
.btn {
    margin-top: 20px;
    margin-left: 36%;
    width: 32%;
    height: 5vh;
    color: white;
    background-color: rgb(83, 97, 203);
    border: none;
    border-radius: 5px;
    
}

@media screen and (max-width: 800px) {
    .cForm{
        height: 32vh;
        
        padding: 0px 50px;
    }
  }